@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: #fff;
  background: #004de8;
}

::selection {
  color: #fff;
  background: #004de8;
}

html {
  scroll-behavior: smooth;
}

#content-div {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-div h1 {
  font-size: 50px;
  font-weight: 800;
}

#main-404 {
  margin-inline: auto;
  max-width: 850px;
  height: 60vh;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-404 h1 {
  font-size: 40px;
  font-weight: 800;
}

#main-404 h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  padding: 10px 0;
}

#main-404 button {
  border: 2px solid #004de8;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #004de8;
  padding: 10px 20px;
  margin-top: 20px;
}

#main-404 button:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #004de8;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #main-404 {
    padding: 50px;
  }

  #main-404 h1 {
    font-size: 33px;
  }

  #main-404 h4 {
    font-size: 18px;
  }

  #main-404 button {
    font-size: 16px;
    padding: 9px 18px;
  }
}

@media screen and (max-width: 430px) {
  #main-404 {
    padding: 30px;
  }

  #main-404 h1 {
    font-size: 30px;
  }

  #main-404 h4 {
    font-size: 14px;
  }

  #main-404 button {
    font-size: 15px;
    padding: 8px 16px;
  }
}
