#container-faq {
  padding: 70px;
  background-color: #e6edfc;
}

#container-faq h1 {
  font-size: 30px;
  font-weight: 800;
}

#container-faq p {
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #container-faq {
    padding: 50px;
  }

  #container-faq h1 {
    font-size: 27px;
  }

  #container-faq p {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  #container-faq {
    padding: 30px;
  }

  #container-faq h1 {
    font-size: 24px;
  }

  #container-faq p {
    font-size: 14px;
  }
}
