#nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  background: transparent;
}

#nav #visit {
  display: flex;
  align-items: center;
  gap: 7px;
}

#nav #visit:hover {
  cursor: pointer;
}

#nav h1 {
  font-size: 33px;
  font-weight: 700;
}

#nav #icons {
  font-size: 25px;
}

#nav #icons:hover {
  cursor: pointer;
}

#nav #icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav #icons p {
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  #nav {
    height: 60px;
    padding: 0 45px;
  }

  #nav #visit {
    gap: 6px;
  }

  #nav #visit h1 {
    font-size: 29px;
  }
}

@media screen and (max-width: 425px) {
  #nav {
    height: 50px;
    padding: 0 20px;
  }

  #nav #visit {
    gap: 6px;
  }

  #nav #visit h1 {
    font-size: 25px;
  }
}
