#container-youtube {
  padding: 70px;
}

#container-youtube h1 {
  font-size: 30px;
  font-weight: 800;
}

#container-youtube p {
  font-size: 15px;
  font-weight: 500;
}

#container-youtube h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0 0;
}

#outer-div {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

#inner-div > iframe {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #container-youtube {
    padding: 50px;
  }

  #container-youtube h1 {
    font-size: 27px;
  }

  #container-youtube p {
    font-size: 14px;
  }

  #container-youtube h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  #container-youtube {
    padding: 30px;
  }

  #container-youtube h1 {
    font-size: 24px;
  }

  #container-youtube p {
    font-size: 14px;
  }

  #container-youtube h3 {
    font-size: 16px;
  }
}
